@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body {

    background-color: rgb(99, 29, 53);


}





header {
    position: sticky;
    top: 0;
}

nav {


    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: sticky;
  top: 0; */
    background-color: rgb(126, 67, 94);
    color: white;
    font-weight: 900;
    padding: 0;
    margin: 0;
    width:auto;



}
/* 

@media screen and (max-width: 1000px) {
    nav {
        display: flex;
        justify-content: start;
        align-items: start;
        /* flex-direction: column; */
        /* width: 5000px;
        padding: 20px;
        margin: auto;
    }

} */ 

.right ul {

    display: flex;
    font-size: 2em;
    gap: 34px;
}

nav a {
    text-decoration: none;
    color: white;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease-in-out;



}

.right ul li:hover {
    color: rgb(71, 13, 47);
    background-color: rgb(5, 66, 67);
    border-radius: 10px;
    font-size: 2em;
}

svg {
    color: white;
    width: 20px;
    height: 20px;
}

.right ul li span {
    padding: 0 7px;
}




.tpages {
    position: relative;
    left: 330px;
    top: 150px;
    font-size: 100px;
    text-decoration: none;
    font-weight: bolder;
    font-style: italic;
    color: white;
}



.tpages:hover {


    color: rgb(117, 12, 203);
    font-size: 200px;
    transition: all 1s ease-in-out;
    text-decoration: underline;
}
.top-heading {

    display: flex;
    justify-content: center;
    font-size: 100px;
    color: white;
    font-weight: 900;

    /* position: relative;
    left: 330px;
    top: 150px;
    font-size: 100px;
    text-decoration: none;
    font-weight: bolder;
    font-style: italic;
    color: white; */
}



.top-heading:hover {


    color: rgb(146, 24, 83);
    font-size: 200px;
    transition: all 1s ease-in-out;
    text-decoration: underline;
}



main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 200px;
    grid-row-gap: 150px;
    padding: 200px;
    letter-spacing: 1.5px;
    text-align: justify;

    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}

.line {
    height: 6px;
    background-color: rgb(53, 53, 53);
}


.article1 {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'open sans';
    gap: 20px;
    padding: 60px 80px;
    max-width: 1200px;
    border: 1px solid;
    border-radius: 55px;
    background-color: rgb(75, 19, 46);
    transition: all 1s ease-in-out;



}

.article1:hover {
    color: rgb(252, 252, 252);
    background-color: rgb(31, 8, 68);

}




.article1 :first-child {

    font-size: 58px;
    /* padding: 290px; */
    position: relative;
    font-weight: 900;


}

.article1 :nth-child(2) {
    font-size: 58px;
    position: relative;
    font-weight: 400;
    /* padding: 90px;  */
}

.article1 :nth-child(3) {
    font-size: 36px;
    position: relative;
    font-weight: 400;
    padding: 30px 0px;
}

.img-one {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0px 270px;
    width: 1000px;
    height: auto;


}



/* 
@media screen and (max-width: 800px) {
  
    .article1{
         flex-wrap: wrap;
         padding: 43px;
        margin: auto; 
        /* justify-content: center;
        align-items: center;  
         text-align: justify;

         
    }
}  */
  
@media screen and (max-width:1390px) {
    main {
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    

    }

}

@media screen and (max-width:1000px) {
    main {
        display: grid;
        grid-template-columns:1fr 1fr;
    

    }

}


@media screen and (max-width:660px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
      

    }

}
/* 
@media screen and (max-width:1000px) {
    main {
        padding: 150px 80px;
        width: 1500px;


    }

    .article1 :nth-child(2) {
        font-size: 100px;
    }

    .article1 :nth-child(3) {
        font-size: 80px;
    }

} */



.first-second {
    display: flex;
    justify-content: center;
    align-items: center;
    ;
    margin: auto;

}

img {
    border-radius: 50px;

}

.img-1{
    border-radius: 40px;
    width: 1210px;
    height: 800px;


}

.img-2 {
    padding: 30px;
    width: auto;
    height: auto;
}





.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    font-size: 48px;
    font-weight: 900;
    font-family: 'open sans';
    color: white;
    gap: 35px;

}

.mainfaq {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.faqbox {
    display: flex;
    color: white;
    background-color: rgb(50, 7, 31);
    font-size: 34px;
    font-weight: 400;
    justify-content: space-between;
    padding: 30px;
    width: 2100px;
    transition: all .8s ease-in-out;
    cursor: pointer;
}

.one {
    color: white;
    font-weight: 900;


}

.one:hover {
    color: rgb(10, 60, 10);
    transition: all 1s ease-in-out;
    width: 90px;
    height: 70px;
}



.ft:hover {
    color: rgb(7, 57, 48);
    transition: all 1s ease-in-out;
    font-size: 100px;
}

.faqbox:hover {
    background-color: rgb(74, 7, 16);
    width: 2800px;
    height: 85px;
}




.cin {
    width: 1000px;
    height: 400px;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: rgb(10, 52, 66);
    border-style: none;
    border-radius: 30px;
    transition: all 1s ease-in-out;
}



.cin:hover {
    color: rgb(252, 252, 252);
    background-color: rgb(40, 8, 91);
    width: 1400px;
    height: 700px;
}


.cbtn {
    color: white;
    width: 370px;
    height: 120px;
    font-size: 60px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(5, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 300px;
    transition: all 1s ease-in-out;

}

.cbtn:hover {
    color: brown;
    background-color: rgb(22, 53, 111);
    width: 500px;
    height: 135px;
}







.fpages {
    text-align: center;
    font-size: 30px;
    letter-spacing: 40px;
    text-decoration: none;
    color: white;

}


.fbutton {
    background-color: rgb(142, 14, 72);
    color: white;
    font-weight: 900;
    border-radius: 10px;
    border-style: none;
    width: 4855px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s ease-in-out;
    text-decoration: none;
}

.fbutton a:hover {
    color: rgb(9, 40, 90);
    /* background-color: rgb(5, 85, 88); */
    padding: 15px;
    border-radius: 18px;
    font-size: 80px;
    transition: all 1s ease-in-out;

}